@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode */
  --background: #fafafa;
  --foreground: #1a1a1a;
  --primary: #2e2e2e;
  --accent: #e6e6e6;
  --secondary: #6d6d6d;
  --light: #f8f8f8;
  --dark: #1a1a1a;
  --gray: #6c757d;
  --gray-light: #e9ecef;
  --gray-dark: #343a40;
  --success: #28a745;
}

.dark {
  /* Dark mode */
  --background: #121212;
  --foreground: #ffffff;
  --primary: #e0e0e0;
  --accent: #2a2a2a;
  --secondary: #a0a0a0;
  --light: #2a2a2a;
  --dark: #ffffff;
  --gray: #adb5bd;
  --gray-light: #343a40;
  --gray-dark: #e9ecef;
  --success: #3dd96b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), var(--font-noto-sans-jp), sans-serif;
}
